/*.title{ 
   margin-bottom: 10px; 
   text-align:center; 
   width: 210px; 
   color:blue; 
   border: solid black 2px; 
} 
  
input[type="button"] 
   { 
         background-color:blue; 
         color: black; 
         border: solid black 2px; 
         width:100% 
         } 
  
         input[type="text"] 
         { 
         background-color:white; 
         border: solid black 2px; 
         width:100% 
         } */
#result{
   width: 399px;
   height: 40px;
   background-color: grey;
}
.row{
   display: table;
   table-layout: fixed;
   width: 500px;
   padding: 5px;
   margin-left: 20px;
}
.column{
   display: table-cell;
   padding: 10px;
         }
.calc-btn{
   width: 80px;
   height: 60px;
   text-align: center;
   padding: 0 15px 0 15px;
   font-size: 14px;
}
.main {
   height: 354px;
   width: 619px;
   border: 1px solid yellow;
   text-align: center;
   margin: auto;
   background: wheat;

}
.inner{
   display: inline-block;
}